.phone-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 0;
}

.phone-nav-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.menu-btn {
    font-size: 2rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.phone-nav-menu {
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
}

.phone-nav-menu.open {
    display: flex;
}

.phone-nav-item {
    list-style-type: none;
    margin: 1rem 0;
}

.phone-nav-btn {
    font-size: 1.75rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    text-decoration: none;
}
