.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    color: white;
    padding: 0.75rem;
}

.navbar-fixed-top {
    position: fixed;
}

#nav-list {
    list-style: none;
    display: flex;
    justify-content: space-start;
}

.nav-item {
    font-size: 2rem;
    margin: 0 1rem;
}

.nav-icon {
    color: white;
}

.nav-btn {
    background-color: transparent;
    border: 0;
    padding: 0.25rem;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}