button {
    width: 300px;
    border: none;
    border-radius: 30px;
    color: white;
    cursor: pointer;

    position: absolute;
    z-index: 2;
    top: 80%;
}

.normal {
    background-color: #ff9a02;
    margin: 1rem;
}