.page-title {
    text-align: center;
    font-size: 3rem;
}

.sec-container {
    width: 100%;
    margin: 1rem, auto;
}

.sec-title {
    font-size: 2.5rem;
    margin: 1.75rem;
}

@media only screen and (max-width: 500px) {
    .page-title {
        text-align: center;
        font-size: 2.5rem;
        margin: 0 auto;
    }
    
    .sec-container {
        width: 100%;
        margin: 1rem, auto;
    }
    
    .sec-title {
        font-size: 1.75rem;
        text-align: center;
    }
}