.intro-container {
    width: 100%;
    margin: 2.5rem;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.intro-text-container {
    width: 550px;
}

.intro-content {
    font-size: 1.5rem;
}

#intro-list-title {
    font-size: 2rem;
}

.intro-list {
    margin: 0.5rem 0;
}

#img-container {
    width: 550px;
    margin: 0.5rem 0;
}

#myPhoto {
    width: 100%;
    background-position: center;
}