.background-image-container {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    
    /* Make this container the positioning context */
    position: relative;
    z-index: 1;
    
    /* Add a pseudo-element for the overlay */
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: url('./assets/photo/hualien4.jpg');
        background-size: cover;
        background-position: center;
        opacity: 0.8;
        z-index: -1;
    }
}

.title-container {
    width: 700px;
    height: 200px;

    position: absolute;
    top: 12.5%;
    right: 5%;
}

#title {
    font-size: 3.5rem;
}

#title:last-of-type {
    animation: type 0.33s infinite;
}

.main-container {
    position: relative;
    z-index: 1;   
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 1rem auto;
    justify-content: space-around;
}

#img-container {
    margin: 1.25rem 0;
}

#myPhoto {
    width: 550px;
    background-position: center;
}

.fa {
    text-decoration: none;
    color: white;
}

.main-container-title {
    font-size:2.5rem;
}

footer {
    width: 100%;
    background-color: rgba(13, 64, 101, 0.796);
}

#main-links {
    margin: 0 auto;
}